.container2{
    height: 100vh;/*a altura toda*/
    width: 100vw;/*largura no monitor todo*/
    display: flex;/*faz com que as coisas fiquem lado a lado*/
    flex-direction: column;
}
.parte-inferior{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.parte-esquerda{
    width: 58%;
    height: 100%;
    background-color: #FBF8F4;
    display: flex;
    flex-direction: column;
    justify-content: center;/*coloca a linha no meio*/
    align-items: center;/*coloca a coluna no meio*/
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 647px;
    height: 468px;
}
.caixa h1{
    word-wrap: break-word;
    width: 100%;
    font-size: 40px;
    /*font-size: 3vw;/*tamanho da fonte*/
    color: #4B626C;/*cor do escrito*/
    font-weight: 500;/*afina a letra*/
    
}
.caixa h2{
    word-wrap: break-word;
    width: 100%;
    font-size:25px;
    /*font-size: 2.2vw;/*tamanho da fonte*/
    color: #4B626C;/*cor do escrito*/
    font-weight: 400;/*afina a letra*/
}
.caixa button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: #FBF6F0;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    text-align: start;
    padding-left: 0.5VW;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}

.caixa button:hover{
    transform: scale(1.05);
}

.tipo1{
    background-color:#4B626C;
}

.alterar, .excluir {
    .tipo1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .alterar-icon, .lixo-icon{
            font-size: 25px;
            color: #FBF6F0;
            margin-right: 5px;
        }
    }
}
.tipo2{
    background: #5c666473;
}
/* configurando a parte inferior-esquerda*/
@media screen and (max-width: 1160px){
    .parte-esquerda{
        height: auto;
    }
    .caixa{
        margin-top: -650px;
        width: 77%;
        height: 30%;
        justify-content: space-evenly;
    }
    .caixa button{
        width: 160px;
        font-size: 18px;
    }
}
.parte-direita{
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;/*coloca a linha no meio*/
    align-items: center;/*coloca a coluna no meio*/
    background-color:#4B626C;
    position: relative;
}
.card-jogos h1{
    font-size: 32px;
    font-weight: 400;
    color: #FBF6F0;
    margin-bottom: 10%;
}
.card-jogos{
    width: 78%;
    height: 72%;
    display: flex;
    flex-direction: column;
}
.jogos h2{
    font-size: 18px;
    font-weight: 400;
}
.img-jogo{
    height: 250px;
    width: 190px;
    transition: 0.5s;
    cursor: pointer;
}
.img-jogo:hover{
    transform: scale(1.1);
}
.jogos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;/*espacamento entre os itens porem nao na margem*/
    align-items: center;
    flex-wrap: wrap;
}
.jogo{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.jogo h2{
    margin-top: 10px;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 18px;
    color: #FBF6F0;
}
/*func alterar dados*/
.alterar-dados{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#4B626C;
    opacity: 0;
    pointer-events: none;
    clip-path: circle(100px at 1% 1%);
    transition: 0.4s ease-out;
}
.alterar-dados .dados{
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alterar-dados .dados .altDados{
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    background: #EFEFEF;
    color: #97A4A2;
    box-shadow: 0px 15px 10px #00000056;
    margin-top: 5vh;
    transition: 0.5s;
}
.altDados:hover{
    transform: scale(1.03);
}
.altDados::placeholder{
    color: #97A4A2;
}
.alterar-dados .sair{
    position:absolute;
    border: none;
    top: 1vh;
    left: 1vw;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.alterar-dados .sair:hover{
    transform: scale(1.1);
}
.alterar-dados.visivel{
    clip-path: circle(3800px at 10% 1%);
    opacity: 1;
    pointer-events: auto;
}
/*configurando a parte inferior direita*/
@media screen and (max-width: 1160px){
    .parte-inferior{
        height: 100%;
    }
    .jogos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-jogos{
        margin-top: 20%;
    }
    .container2{
        height: auto;
    }
}
@media screen and (max-height: 970px) and (max-width: 2319px) and (min-width: 1160px){
    .parte-inferior{
        height: 100%;
    }
    .container2{
        height: auto;
    }
    .caixa{
        margin-top: 200px;
    }
    .card-jogos{
        margin-top: 130px;   
    }
    
}
@media screen and (max-height: 600px) and (min-width:2319px) {
    .parte-inferior{
        height: 100%;
    }
    .container2{
        height: auto;
    }
    .caixa{
        margin-top: 200px;
    }
    .card-jogos{
        margin-top: 130px;   
    }
    .parte-direita{
        height: auto;
    }
}