.container3{
    height: 100vh;/*a altura toda*/
    width: 100vw;/*largura no monitor todo*/
    display: flex;/*faz com que as coisas fiquem lado a lado*/
    flex-direction: column;
    position: relative;
}
.inferior-promocao{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-inferior{
    height: 530px;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4B626C;
    border-radius: 10px;
    position: absolute;
}
.bola{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #4B626C;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: 1;
}
.bola p{
    font-size: 32px;
    font-weight: 500;
    color:#FBF6F0
}
.campo-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 530px;
    width: 400px;
    border-radius: 5px;
}
.campo-texto h1{
    font-weight: 600px;
    font-size: 32px;
    color: #FBF6F0;
}
.historia{
    height: 290px;
    width: 329px;
}
.campo-texto h2{
    color: #FBF6F0;
    font-size: 24px;
    font-weight: 300;
}
.barra-texto{
    background-color: #FBF6F0;
    height: 2px;
    width: 80%;
}
.botoes-texto{
    display: flex;
    flex-direction: column;
    
}
.botoes-texto button{
    width: 230px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #4B626C;
    font-size: 16px;
    font-weight: 500;
    padding-right: 40px;
}
.botoes-texto .carrinho1{
    position:relative;
    color:#4B626C;
    left: 200px;
    bottom:12px;    
    font-size: 20px;
}
.botoes-texto .carrinho2{
    position:relative;
    color:#4B626C;
    left: 200px;
    bottom:7px;    
    font-size: 20px;
}
.solicitar-reembolso{
    opacity: 60%;
    margin-bottom: -20px;
}
.adicionar-carrinho{
    margin-bottom: -15px;
}
.carrinho-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}
@media screen and (max-width: 1401px){
    .container3{
        height: 1400px;
    }
    .inferior{
        height: 100%;
    }
    .card-inferior{
        flex-direction: column;
        width: 900px;
        height: auto;
    }

}
@media screen and (max-height: 815px){
    .carrinho-card{
        height: 815px;
    }
    .inferior-promocao{
        height: auto;
    }
}
@media screen and (max-height: 815px) and (max-width: 1401px){
    .carrinho-card{
        height: 815px;
    }
    .inferior-promocao{
        height: 100%;
    }
    .carrinho-card{
        height: 100%;
    }
}