.campo{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 100px;
}
.titulo1{
    color:#FBF6F0;
    font-weight: 600;
    font-size: clamp(20px, 3vw, 32px);
}
.dados1{
    font-family: 'Montserrat', sans-serif;
    border:none;
    height: 50px;
    width: 27vw;
    background: #EFEFEF;
    box-shadow: 0px 0.2px 20px #25252556;
    color: #97A4A2;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 300;
    padding: 1vw;
    transition: 0.5s;
}
.dados1:hover{
    transform: scale(1.03);
}
.dados1::placeholder{
    color: #97A4A2;
    text-align: center;
}
.descricao{
    font-family: 'Montserrat', sans-serif;
    border:none; 
    background: #EFEFEF;
    box-shadow: 0px 0.2px 20px #25252556;
    color: #97A4A2;
    border-radius: 5px;
    height: 154px;
    width: 27vw;
    padding:1vw;
    font-size: 24px;
    font-weight: 300;
    transition: 0.5s;
}
.descricao:hover{
    transform: scale(1.03);
}
.descricao::placeholder{
    color: #97A4A2;
    text-align: center;
}
.file{
    display: none;
}
.upload-button{
    height: 50px;
    width: 13.9vw;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #EFEFEF;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color:#97A4A2;
    transition: 0.5s;
}
.upload-button:hover{
    transform: scale(1.03);
}
.cadastrar{
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 18.7vw;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0.2px 20px #25252556;
    color: #606060;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.cadastrar:hover{
    transform: scale(1.03);
}
.titulo2{
    color: #4B626C;
    font-weight: 600;
    font-size: clamp(20px, 3vw, 32px);
}
.dados2{
    font-family: 'Montserrat', sans-serif;
    border:none;
    height: 50px;
    width: 27vw;
    background: #4B626C;
    box-shadow: 0px 0.2px 20px #25252556;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 300;
    padding: 1vw;
    transition: 0.5s;
}
.dados2:hover{
    transform: scale(1.03);
}
.dados2::placeholder{
    color: #FFFFFF;
    text-align: center;
}
.cadastrar2{
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 18.7vw;
    border: none;
    border-radius: 5px;
    background-color: #4B626C;
    box-shadow: 0px 0.2px 20px #25252556;
    color:  #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.cadastrar2:hover{
    transform: scale(1.03);
}
@media screen and (max-width: 1315px){
    .cadastrar{
        font-size:2.1vw;
    }
    .cadastrar2{
        font-size:2.1vw;
    }
    .dados1{
        font-size: 1.7vw;  
    }
    .dados2{
        font-size: 1.7vw;  
    }
    .upload-button{
        font-size: 1.7vw;
    }
    .descricao{
        font-size:1.7vw;
    }
}
@media screen and (max-height: 890px){
    .campo{
        height: 850px;    
    }
}