.card-recuperar{
    margin-top: 10%;
    height: 88vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    font-size: 55px;/*tamanho da fonte*/
    color: #4B626C;/*cor do escrito*/
    font-weight: 400;/*afina a letra*/    
}
.container h3{
    font-size: 55px;/*tamanho da fonte*/
    color: #4B626C;/*cor do escrito*/
    font-weight: 400;/*afina a letra*/    
}
