.container{
    height: 100vh;/*a altura toda*/
    width: 100vw;/*largura no monitor todo*/
    display: flex;/*faz com que as coisas fiquem lado a lado*/
    flex-direction: row;
    background-color: #FBF8F4;
    background-image: url(../../imagens/image.png);
    background-size: contain; /* Redimensiona a imagem para caber no contêiner */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: right; /* Posiciona a imagem à direita */
}

.left-login{
    display: flex;/*coloca tudo em fila*/
    flex-direction: column;/*coloca em coluna*/
    align-items:center;/*centraliza os campos de leftlogin*/
    height: 100vh;/*altura*/
    width: 38%;/*largura*/
}
.links{
    display: flex;
    flex-direction: column;   
    margin-top: auto; /*foi para o limite inferior do campo*/
    margin-right: auto;/*foi para o limite esquerdo do campo*/
}
.card-login{
    margin-top: 10%;
    height: 88vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container h1{
    font-size: 55px;/*tamanho da fonte*/
    color: #4B626C;/*cor do escrito*/
    font-weight: 400;/*afina a letra*/
}
@media screen and (max-width: 1146px){

    .container{
        background-image: none;
    }
    .right-login{
        display: none;
    }
    .left-login{
        height:100vh;
        width: 100vw;
        
    }
    .links{
        align-items: center;   
        margin-right: 0%;     
    }
    
}
@media screen and (max-width: 425px){
    .card-login{
        margin-top: 50%;
        height: 350px;
        width: 90%;
    }
}