.Administrador{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.inferior{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.esquerda{
    background-color: #4B626C;
    width: 33.3333333333%;
    height: 100%;
}
.meio{
    background-color: white;
    height: 100%;
    width: 33.3333333333%;
}
.direita{
    background-color: #4B626C;
    width: 33.3333333333%;
    height: 100%;
}
@media screen and (max-height: 890px){
    .inferior{
        height: auto;
    }
    .Administrador{
        height: auto;
    }
    
}