.circulo-carrinho {
    position: absolute; /* Posiciona o carrinho dentro da div pai */
    bottom: 20px; /* Ajusta a posição vertical do carrinho */
    right: 20px; /* Ajusta a posição horizontal do carrinho */
    z-index: 4; /* Garante que o carrinho esteja acima de outros elementos */
}

.bola-vazada {
    position: relative; /* Mantém a bola como uma posição relativa */
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #4B626C;
    border-style: solid;
    border-color: white;
}

.carrinho {
    position: absolute; /* Posiciona o ícone do carrinho dentro da bola */
    top: 50%; /* Ajusta a posição vertical do ícone do carrinho */
    left: 50%; /* Ajusta a posição horizontal do ícone do carrinho */
    transform: translate(-50%, -50%); /* Centraliza o ícone do carrinho dentro da bola */
    color: #FBF6F0;
    font-size: 45px;
}

@media screen and (max-width: 1160px) {
    .circulo-carrinho {
        margin-bottom: 30px;
    }
}