.genero{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.genero-inferior{
    height: auto;
    width: 100%;
}
.fundo-genero{
    height: 300px;
    width: 100%;
    background-color: #4B626C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.categoria{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    padding-left:7vw;
    padding-right: 7vw;
}
.categoria h1{
    font-size: 32px;
    font-weight: 300;
    color: #4B626C;
    margin-bottom: 40px;
}
